<html>
    <head>
       <title>Form Test Index</title>
    </head>
    <body>
      <h1>Index Page</h1>
      <h2>Create a User</h2>
        <h3>Create An Account</h3>
        <form method="post" action="/process">
            <input type="hidden" name="action" value="register">
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="text" name="email">
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Register">
        </form>

        <h3>Or if you already have an account, Log In</h3>
        <form method="post" action="/process">
            <input type="hidden" name="action" value="login">
            Email: <input type="text" name="email">
            Password: <input type="password" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </body>
</html>