<h2>My Projects</h2>
<p>Since I'm just getting started in python, I really don't have projects yet. But here's a list of projects I might be starting soon.</p>
<ul>
    <li>Lakesong: A site for our lake house, giving guests information about our place and providing some real-time info like weather forecast, lake levels, etc.</li>
    <li>Happiness project: I'm reading about some simple exercises that are uplifting, like writing down 3 good things that have happened each day. Perhaps an app that makes it easy to record these and pull up past good thing.</li>
    <li>Charity: maybe I can start creating some of the basic functionality for my first charity project. TBD.</li>
</ul>