<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <div id="wrapper"> 
    <h1>User {{ user[0]["id"] }}</h1>
    <hr>
    {% if messages %}
        {% for category, message in messages %}
            <p class="{{ category}}">{{message}}</p> 
        {% endfor %}
    {% endif %} 

    <p class="user_info">Full Name: {{ user[0]["full_name"] }}</p>
    <p class="user_info">Email: {{ user[0]["email"] }}</p>
    <p class="user_info">Created At: {{ user[0]["created_date"] }}</p>
    <p class="links"> <a href="/users/{{ user[0]['id'] }}/edit">Edit</a>|<a href="/users/{{ user[0]['id'] }}/destroy">Delete</a></p>
    </div>
</body>
</html>