<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Success Page</title>
</head>

<body>
    <div class="container">

        <h2 class="ml-3">Success! Welcome, {{ user.first_name }} {{ user.last_name }}</h2>

        {% if messages %}
            {% for message in messages %}
                <p
                    {% if "success" in message.tags %} class="text-success" {% endif %}>
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

    </div>

<!-- Optional JavaScript for bootstrap would go here-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
</body>
</html>