*{
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 150%;
}

#wrapper {
    width: 1024px;
    margin: 1% auto;
    background: linear-gradient(white,#70bbf8, white);
}

img {
    width:100%;
    margin-bottom: 1%;
}

.about img {
    width:50%;
    margin: 1% 25%;  
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 2% 0px;
    color: #033b69;
}

h2 {
    color:white;
    font-size: 30px;
    margin: 1% 0%;
    text-align: center;
}

#input-form {
    width:50%;
    margin: 1% 25%;  
}

#input-form  p{
    color:white;
    font-size: 20px;
    margin-bottom: 3%;
    text-align: center;
}

#new-member {
    width: 100%;
    height: auto;
    padding: 5% 2%;
    background-color: white;
    box-shadow: 5% 5% 2% #888;
    display: inline-block;
    vertical-align: top;
}

#new-member label {
    font-weight: bold;
    width: 100px;
    display:inline-block;
}
#new-member input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


input[type="submit"] {
    padding: 1%;
    margin: 3% 25%;
    background-color: lightgreen;
    font-weight: bold;
    font-size: 15px;
}

#footer {
    margin-top:5%;
}

#footer p {
    color: grey;
    font-size: 10px;
    margin: 2% 0%;
    text-align: center;
}
