*{
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    line-height: 150%;
}

#wrapper {
    width: 1024px;
    margin: 1% auto;
    background: linear-gradient(white,#70bbf8, white);
}

img {
    width:100%;
    margin-bottom: 1%;
}

.about img {
    width:50%;
    margin: 1% 25%;  
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 2% 0px;
    color: #033b69;
}

h2 {
    color:white;
    font-size: 30px;
    margin: 1% 0%;
    text-align: center;
}

li {
    font-size: 15px;
    margin-left: 5%;
    margin-top: 1%;
}

#footer {
    margin-top:5%;
}

#footer p {
    color: grey;
    font-size: 10px;
    margin: 2% 0%;
    text-align: center;
}
